.u-section-1 .u-sheet-1 {
  min-height: 2000px;
}

.u-section-1 .u-text-1 {
  margin: 25px 353px 0 452px;
}

.u-section-1 .u-image-1 {
  width: 144px;
  height: 224px;
  margin: -152px auto 0 17px;
}

.u-section-1 .u-text-2 {
  margin: -72px auto 0 280px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -145px 17px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 3.75rem;
  font-weight: normal;
  margin: -9px auto 0 17px;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 25px auto 0 17px;
  padding: 0 53px 0 51px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 17px;
  padding: 0 22px 0 21px;
}

.u-section-1 .u-tabs-1 {
  min-height: 375px;
  margin-top: 483px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 291px;
    margin-left: 373px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 223px;
    margin-left: 286px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 167px;
    margin-left: 215px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 105px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 409px;
}